<template>
  <div class="section">
    <div class="field">
      <label for="" class="label">Title</label>
      <div class="control"><input type="text" class="input" v-model="input_title"></div>
    </div>
    <div class="field">
      <label for="" class="label">Description</label>
      <div class="control"><input type="text" class="input" v-model="input_description"></div>
    </div>
    <div class="field is-grouped">
      <button class="button is-link" @click="submitData()">Submit</button>
    </div>
    <table class="table is-fullwidth">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <tr v-for="(data_row, index) in data_list" :key="index">
        <td v-text="data_row.title"></td>
        <td v-text="data_row.description"></td>
        <td>
          <button class="button is-warning" @click="updateData(index)">Update</button>
          <button class="button is-danger" @click="deleteData(index)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      input_title: '',
      input_description: '',
      temp_index: '',
      data_list: []
    }
  },
  methods: {
    updateData (index) {
      this.temp_index = index
      this.input_title = this.data_list[index].title
      this.input_description = this.data_list[index].description
    },
    deleteData (index) {
      this.data_list.splice(index, 1)
    },
    submitData () {
      if (this.temp_index === '') {
        // Insert
        var tempData = {
          title: this.input_title,
          description: this.input_description
        }

        this.data_list.push(tempData)
      } else {
        // Update
        this.data_list[this.temp_index].title = this.input_title
        this.data_list[this.temp_index].description = this.input_description
      }
      this.temp_index = ''
      this.input_title = ''
      this.input_description = ''
    }
  }
}
</script>

<style lang="scss" scoped>
</style>