<template>
  <div class="container">
    <user-header></user-header>
    <router-view></router-view>
  </div>
</template>

<script>
import UserHeader from '@/components/Header'
export default {
  components: {
    UserHeader
  }
}
</script>
